{% load static %}
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="{% url 'articles:index' %}"><img class="header-image" src="{% static "application/images/new_logo.png" %}" alt="My image"/></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'articles:index' %}">Home</a></li>
      <li><a href="#">Games</a></li>
      <li><a href="{% url 'articles:moviefeed' %}">Movies</a></li>
      <li><a href="#">Gadgets</a></li>
    </ul>
  </div>
</nav>
