{% load static %}
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="{% url 'articles:index' %}"><img class="header-image" src="{% static "application/images/new_logo.png" %}" alt="My image"/></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'articles:index' %}">Home</a></li>
      <li><a href="{% url 'articles:gamefeed' %}">Games</a></li>
      <li><a href="{% url 'articles:moviefeed' %}">Movies</a></li>
      <li><a href="{% url 'articles:gadgetfeed' %}">Gadgets</a></li>
      <li><a href="{% url 'articles:videofeed' %}">Videos</a></li>
    </ul>
    <div class="topnav-right">
      <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
        <li><a href="#">{{ user.username }}</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'articles:signup' %}">Sign Up</a></li>
        {% endif %}
        </ul>
    </div>
  </div>
</nav>
