.header-image {

width: 100%;

}

.navbar-header {

    width:25%;

}

.navbar {

    background: transparent;
    padding-bottom: 6px;

}

.topnav-right {
  float: right;
}

.navbar-nav li {

    padding-top: 10px;


}

.navbar-nav li a:hover {

    color: #0026FF;

}

.navbar-nav li a:active {
    color: #0026FF;
  }

.navbar-nav li a {

    color: black;
    font-size: x-large;
    font-family: "Impact", Charcoal, sans-serif;

}

.header-title {

    font-weight: bolder;
    font-family: "Impact", Charcoal, sans-serif;
    padding-top: 15px;
    text-align: center;;

}

.article-image {

    width: 100%;
    padding-top:15px;
    border-radius: 25px;


}

.top-article-image {

    width: 75%;
    min-height: 400px;
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;

}


.top-article-image:hover {
    background: rgba(0,0,0,.5);
}

.video-box{

  margins: 5px;

}


.top-article-image-overlay {
    background: rgba(255,0,0,.6);
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 70%;
    height: 20%;
    color: white;
    text-align: center;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}


.top-story-single:hover .overlay {
    opacity: .5;
  }


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15%;
    right: 0;
    height: 100%;
    width: 70%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    border-radius: 25px;

  }


.article-card {

    padding-top: 20px;
    margin-bottom: 40px;

}

.read-btn {
    margin-bottom: 20px;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0026FF;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    padding-top:10px;
    font-family: "Impact", Charcoal, sans-serif;
  }



  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: 	#D3D3D3
  }

  .feed-container {

    background-color: white;
    width: 100%;

  }

  .top-story-cont {

    margin-top: 20px;
    margin-bottom: 20px;

  }

  .latest-news-container {

    margin: auto;

  }


  .equal {
    display: flex;
    flex-wrap: wrap;
  }

  /*##########
  #DETAIL VIEWS
################## */
  .detail-cont {

  }

  .article-detail-cont {
    width: 80%;
    margin: auto;
    margin-top:3%;
  }

  .detail-image-cont {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
   }
.detail-title-cont {
  font-size: 200%;
  font-weight: bolder;
  font-family: "Impact", Charcoal, sans-serif;
}

.detail-image {
  border-radius: 20px;
  width: 100%;

}
.detail-sub-text{
  padding-top: 5px;
  width:95%;
  margin:auto;
}

.detail-body-text {
  font-size: 125%;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

/*VIDEO */


.video-frame-cont {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;

}

.video-frame-cont iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.iframe-container-4x3 {
  padding-top: 75%;
}


/* Login Form */
.login-body {
  width:100%;
  height: 100vh;
  background: url('../images/monopoly-game-board.jpg');
  min-width:100%;
  overflow: auto;
}

.login-body-2 {
  width:100%;
  background: url('../images/monopoly-game-board.jpg');
  min-width:100%;
  height: 100%;
}

.login-cont {
  position: absolute;
  width: 40%;
  margin-left: 30%;
  margin-right:auto;
  background-color: white;
  margin-top: 100px;
  padding-bottom: 50px;
  border-radius: 25px;
  overflow: auto;



}

.login-box {
  width: 35%;
  margin-left: auto;
  margin-right:auto;
  background-color: white;
  margin-top: 50px;
  overflow: auto;


}

.login-input input {
  padding: 0.2em;
  box-sizing: border-box;
  min-width: 0;

}

.login-btn {
  width: 81%;
  margin-bottom: 5px;
}

.login-box-2
{
  width: 35%;
  margin-left: auto;
  margin-right:auto;
  background-color: white;

}

.login-cont-2 {
  width: 40%;
  margin-left: 30%;
  margin-right:auto;
  background-color: white;
  padding-bottom: 50px;
  border-radius: 25px;
}

.signup-top-container {
  height: 100vh;
    background: url('../images/monopoly-game-board.jpg');

}

.signup-second {
  position: absolute;
  background-color: white;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 25px;
  margin-top: 50px;
  padding-top:10px;
  padding-bottom: 10px;

}
