{% extends 'application/base.html' %}
{% load static %}

{% block content %}
<div class="login-body">
<div class="login-cont">
  <div class="login-box">
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

        <h3>{{ form.username.label_tag }}</h3>
        <p class="login-input" >{{ form.username }}</p>

        <h3>{{ form.password.label_tag }}</h3>
        <p class="login-input" >{{ form.password }}</p>


    <input class="btn btn-primary btn-lg login-btn" type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
  </div>
</div>
</div>
{% endblock %}
