{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Retro Reviews</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'application/css/style.css' %}">
</head>
<body>
    
</body>
{% include "navbar.html" %}
<div class="content-container">
{% block content %}

{% endblock %}
</div>
<div class="footer">
    <p>Forte Corp &copy;</p>
  </div>
</html>