{% extends 'application/base.html' %}
{% load static %}
{% load mptt_tags %}
{% block content %}
<div class="detail-cont">
<div class="article-detail-cont">
<div class="detail-title-cont">
<h1 class="detail-title-cont">{{ article.title_text }}</h1>
</div>
<p>{{ article.pub_date }}</p>
<p>by {{ article.article_author }}

<div class="detail-image-cont" >
<img class="detail-image" src="{{ article.header_image.url }}" alt="Card image cap">
<h3 class="detail-sub-text">{{ article.article_text }}</h3>
</div>
<div class="detail-body-text">
{{ article.article_body_text | safe }}
</div>
</div>

<div id="commentBox" class="commentBox">
<h2>{{ comments.count }} Comments</h2>
<hr>
{% if not user.is_authenticated %}
<div>
<a href="{% url 'login' %}">Login to comment</a>
{% else %}
<div>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit" onclick="postComment()" class="btn btn-primary  btn-lg">Submit</button>
        </form>
      </div>

{% endif %}
  {% if comments %}
  <div class="comments" style="padding: 10px;">
    {% recursetree comments %}
        <div class="comment-container">

         <p class="font-weight-bold">
           {{ node.created_by }}
           <span class=" text-muted font-weight-normal">
             {{ node.created_on }}
           </span>
           <span style="float:right;">    
            <a href="#">View All Replies({{ node.get_descendant_count }})</a>      
            {% if user.is_authenticated%}   
                <button class="replyclicker">Reply</button>
             {% if node.created_by == user %}
                <a href="#">Edit</a>
             {% endif %}
             {% endif %}</span>
         </p>
        
         <div class="single_comment">
         {{ node.text | linebreaks }}
         </div>
         <div class="wrapperreply">
         <div class="reply-comment">
         {{ comment_form.as_p }}
        </div>
        <div class="reply-button">
         {% csrf_token %}
          <button type="submit" onclick="postComment()" class="btn btn-primary  btn-lg">Submit</button>
        </div>
      </div>
         {% if not node.is_leaf_node %}
         {% if node.level < 2 %}
         <div class="reply-comment">
         {{ children }}
        </div>
          {% endif %}
          {% endif %}
        </div>
        {% endrecursetree %}
       </div>

  {% else %}
      <p>No Comments Yet</p>
  {% endif %}

</div>
      </div>
          </div>
{% endblock %}
