{% extends 'application/base.html' %}
{% load static %}
{% block content %}
<div class="container feed-container">
<div class="top-story-cont">
</div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8"><h1 class="header-title">Latest Game News and Reviews <span class="glyphicon glyphicon-fire text-danger"></span></h1></div>
    <div class="col-lg-2"></div>

</div>
<div class="latest-news-container">
  <div class="row ">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-6">
{% if latest_game_list %}

    {% for article in latest_game_list %}


        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8"><a href="{% url 'articles:detail' article.id %}"><img class="card-img-top article-image" src="{{ article.header_image.url }}" alt="Card image cap"></a>
                <div class="card-body">
                    <h3 class="card-title"><a href="{% url 'articles:detail' article.id %}">{{ article.title_text }} </a></h3>
                    <p>{{ article.pub_date }}</p>
                    <h4 class="card-text">{{ article.article_text }}</h4>
                    <a href="{% url 'articles:detail' article.id %}" class="btn btn-primary btn-lg read-btn">Read More</a>
                  </div>
            </div>
            <div class="col-xs-2"></div>
        </div>
      <hr>


    {% endfor %}
{% else %}
    <p>No articles are available.</p>
{% endif %}
</div>
<div class="col-lg-3"></div>
</div>
</div>
</div>
{% endblock %}
