{% extends 'application/base.html' %}
{% load static %}
{% block content %}
<div class="container feed-container">
<div class="top-story-cont">
<div class="row">
    <div class="col-lg-3">
        <div class="zoom">
            <a href="#">
            <img class="top-article-image" src="{{ third_latest_top_article.header_image.url }}" alt="Card image cap">
            <div class="top-article-image-overlay"><h3>{{ third_latest_top_article.title_text }}</h3></div>
            </a>
          </div>
    </div>
    <div class="col-lg-3">
        <div class="zoom">
            <a href="#">
            <img class="top-article-image" src="{{ latest_top_article.header_image.url }}" alt="Card image cap">
            <div class="top-article-image-overlay"><h3>{{ latest_top_article.title_text }}</h3></div>
            </a>
          </div>
    </div>
    
    
    <div class="col-lg-3">
        <div class="zoom">
          <a href="#">
          <img class="top-article-image" src="{{ second_latest_top_article.header_image.url }}" alt="Card image cap">
          <div class="top-article-image-overlay"><h3>{{ second_latest_top_article.title_text }}</h3>{</div>
          </a>
        </div>
</div>
<div class="col-lg-3">
    <div class="zoom">
        <a href="#"> 
        <img class="top-article-image" src="{{ fourth_latest_top_article.header_image.url }}" alt="Card image cap">
        <div class="top-article-image-overlay"><h3>{{ fourth_latest_top_article.title_text }}</h3></div>
        </a>
      </div>
</div>
</div>
</div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8"><h1 class="header-title">Latest Articles and News <span class="glyphicon glyphicon-fire text-danger"></span></h1></div>
    <div class="col-lg-2"></div>

</div>
<div class="latest-news-container">
{% if latest_article_list %}
   
    {% for article in latest_article_list %}
    <div class="row equal">
        <div class="col-lg-3 side-panel"></div>
    <div class="col-lg-6">
    <div class="card article-card">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"><a href="{% url 'articles:detail' article.id %}"><img class="card-img-top article-image" src="{{ article.header_image.url }}" alt="Card image cap"></a>
                <div class="card-body">
                    <h3 class="card-title"><a href="{% url 'articles:detail' article.id %}">{{ article.title_text }} </a></h3>
                    <p>{{ article.pub_date }}</p>
                    <h4 class="card-text">{{ article.article_text }}</h4>
                    <a href="{% url 'articles:detail' article.id %}" class="btn btn-primary btn-lg read-btn">Read More</a>
                  </div>
            </div>
            <div class="col-md-2"></div>      
        </div>
      </div>
      <hr> 
    </div>
    <div class="col-lg-3 side-panel"></div>
    </div>
    {% endfor %}
{% else %}
    <p>No articles are available.</p>
{% endif %}
</div>
</div>
{% endblock %}
