{% extends 'application/base.html' %}
{% load static %}
{% block content %}
<div class="container feed-container">
<div class="top-story-cont">
<div class="row">
    <div class="col-lg-3">
            <a href="{% url 'articles:detail' third_latest_top_article.id %}">
            <div class="top-story-single">
            <img class="top-article-image" src="{{ third_latest_top_article.header_image.url }}" alt="Card image cap">
            <div class="overlay"></div>

            <div class="top-article-image-overlay"><h3>{{ third_latest_top_article.title_text }}</h3></div>
            </div>
            </a>

    </div>
    <div class="col-lg-3">
        <div class="zoom">
            <a href="{% url 'articles:detail' latest_top_article.id %}">
            <div class="top-story-single">
            <img class="top-article-image" src="{{ latest_top_article.header_image.url }}" alt="Card image cap">
            <div class="overlay"></div>
            <div class="top-article-image-overlay"><h3>{{ latest_top_article.title_text }}</h3></div>
            </div>
            </a>
          </div>
    </div>


    <div class="col-lg-3">
        <div class="zoom">
          <a href="{% url 'articles:detail' second_latest_top_article.id %}">
            <div class="top-story-single">
          <img class="top-article-image" src="{{ second_latest_top_article.header_image.url }}" alt="Card image cap">
          <div class="overlay"></div>
          <div class="top-article-image-overlay"><h3>{{ second_latest_top_article.title_text }}</h3></div>
        </div>
          </a>
        </div>
</div>
<div class="col-lg-3">
    <div class="zoom">
        <a href="{% url 'articles:detail' fourth_latest_top_article.id %}">
        <div class="top-story-single">
        <img class="top-article-image" src="{{ fourth_latest_top_article.header_image.url }}" alt="Card image cap">
        <div class="overlay"></div>
        <div class="top-article-image-overlay"><h3>{{ fourth_latest_top_article.title_text }}</h3></div>
        </div>
        </a>
      </div>
</div>
</div>
</div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8"><h1 class="header-title">Latest Articles and News <span class="glyphicon glyphicon-fire text-danger"></span></h1></div>
    <div class="col-lg-2"></div>

</div>
<div class="latest-news-container">
  <div class="row ">
      <div class="col-lg-3">
        <h2>Videos</h2>
        {% if latest_video_list %}
        {% for video in latest_video_list %}
        <div class="video-box">
        <iframe width="420" height="345" src="{{ video.video_url }}">
        </iframe>
        </div>
        <br>
        {% endfor %}
    {% else %}
        <p>No videos are available.</p>
    {% endif %}


      </div>
      <div class="col-lg-6">
{% if latest_article_list %}

    {% for article in latest_article_list %}


        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8"><a href="{% url 'articles:detail' article.id %}"><img class="card-img-top article-image" src="{{ article.header_image.url }}" alt="Card image cap"></a>
                <div class="card-body">
                    <h3 class="card-title"><a href="{% url 'articles:detail' article.id %}">{{ article.title_text }} </a></h3>
                    <p>{{ article.pub_date }}</p>
                    <h4 class="card-text">{{ article.article_text }}</h4>
                    <a href="{% url 'articles:detail' article.id %}" class="btn btn-primary btn-lg read-btn">Read More</a>
                  </div>
            </div>
            <div class="col-xs-2"></div>
        </div>
      <hr>


    {% endfor %}
{% else %}
    <p>No articles are available.</p>
{% endif %}
</div>
<div class="col-lg-3"><a class="twitter-timeline" href="https://twitter.com/RetReview?ref_src=twsrc%5Etfw">Tweets by RetReview</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> </div>
</div>
</div>
</div>
{% endblock %}
